.ListOfGifs {
  display: grid;
  gap: 0 1rem;
  grid-template-columns: repeat(auto-fill ,minmax(min(25%, 22rem), 1fr));
  grid-template-rows: masonry;
  break-inside: avoid-column;
  grid-auto-rows: min-content;
  align-items: center;
  min-height: 100vh;
}

.ListOfGifs-item {
  background-color: #eee;
  width: 100%;
  height: auto;
}
