div {
  vertical-align: middle;
}

.modal {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0.3rem);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-content {
  background: #111;
  max-width: 5rem;
  min-width: 100%;
  padding: 0.8rem 1.2rem;
  height: 40vh;
  margin: 10vh auto;
  position: relative;
  color: white;
}

.modal-content .btn-close {
  display: block;
  margin: 0 0 2rem auto;
  padding: 0;
  background: transparent;
  border: none;
  color: white;
}
